logicApps/azuredeploy-credential-expiry.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "credential-expiry-monitor-logicApp",
      "metadata": {
        "description": "Logic App that checks app registration credentials daily and logs expiring ones to Log Analytics"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App"
      }
    },
    "logAnalyticsWorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "The full resource ID of the Log Analytics workspace"
      }
    },
    "logAnalyticsWorkspaceKey": {
      "type": "securestring",
      "metadata": {
        "description": "The primary or secondary shared key of the Log Analytics workspace (used for the Data Collector API)"
      }
    },
    "logAnalyticsCustomerId": {
      "type": "string",
      "metadata": {
        "description": "The workspace GUID (customer ID) of the Log Analytics workspace"
      }
    },
    "expiryThresholdDays": {
      "type": "int",
      "defaultValue": 30,
      "metadata": {
        "description": "Number of days before expiration to flag a credential as expiring"
      }
    },
    "customLogTableName": {
      "type": "string",
      "defaultValue": "AppCredentialExpiry",
      "metadata": {
        "description": "Name of the custom log table in Log Analytics (will appear as tableName_CL)"
      }
    },
    "recurrenceHour": {
      "type": "int",
      "defaultValue": 7,
      "metadata": {
        "description": "Hour of the day (UTC, 0-23) to run the check"
      }
    }
  },
  "variables": {
    "logAnalyticsApiUrl": "[concat('https://', parameters('logAnalyticsCustomerId'), '.ods.opinsights.azure.com/api/logs?api-version=2016-04-01')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "purpose": "credential-expiry-monitoring",
        "createdBy": "arm-template"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "logAnalyticsCustomerId": {
              "type": "String",
              "defaultValue": "[parameters('logAnalyticsCustomerId')]"
            },
            "logAnalyticsWorkspaceKey": {
              "type": "SecureString",
              "defaultValue": "[parameters('logAnalyticsWorkspaceKey')]"
            },
            "logAnalyticsApiUrl": {
              "type": "String",
              "defaultValue": "[variables('logAnalyticsApiUrl')]"
            },
            "expiryThresholdDays": {
              "type": "Int",
              "defaultValue": "[parameters('expiryThresholdDays')]"
            },
            "customLogTableName": {
              "type": "String",
              "defaultValue": "[parameters('customLogTableName')]"
            }
          },
          "triggers": {
            "Daily_Schedule": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [ "[parameters('recurrenceHour')]" ]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Initialize_ExpiryAlerts": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  {
                    "name": "expiryAlerts",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Initialize_NextLink": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  {
                    "name": "nextLink",
                    "type": "string",
                    "value": "https://graph.microsoft.com/v1.0/applications?$select=id,appId,displayName,passwordCredentials,keyCredentials&$top=100"
                  }
                ]
              }
            },
            "Compute_Threshold_Date": {
              "type": "Compose",
              "runAfter": {},
              "inputs": "@addDays(utcNow(), parameters('expiryThresholdDays'))"
            },
            "Page_Through_Applications": {
              "type": "Until",
              "runAfter": {
                "Initialize_ExpiryAlerts": [ "Succeeded" ],
                "Initialize_NextLink": [ "Succeeded" ],
                "Compute_Threshold_Date": [ "Succeeded" ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('nextLink')",
                      ""
                    ]
                  }
                ]
              },
              "limit": {
                "count": 200,
                "timeout": "PT1H"
              },
              "actions": {
                "Get_Applications_Page": {
                  "type": "Http",
                  "runAfter": {},
                  "inputs": {
                    "method": "GET",
                    "uri": "@variables('nextLink')",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    }
                  }
                },
                "Parse_Graph_Response": {
                  "type": "ParseJson",
                  "runAfter": {
                    "Get_Applications_Page": [ "Succeeded" ]
                  },
                  "inputs": {
                    "content": "@body('Get_Applications_Page')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "@odata.nextLink": { "type": "string" },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "appId": { "type": "string" },
                              "displayName": { "type": "string" },
                              "passwordCredentials": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "keyId": { "type": "string" },
                                    "displayName": { "type": "string" },
                                    "endDateTime": { "type": "string" }
                                  }
                                }
                              },
                              "keyCredentials": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "keyId": { "type": "string" },
                                    "displayName": { "type": "string" },
                                    "endDateTime": { "type": "string" },
                                    "type": { "type": "string" }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "For_Each_Application": {
                  "type": "Foreach",
                  "runAfter": {
                    "Parse_Graph_Response": [ "Succeeded" ]
                  },
                  "foreach": "@body('Parse_Graph_Response')?['value']",
                  "actions": {
                    "Check_Secrets": {
                      "type": "Foreach",
                      "runAfter": {},
                      "foreach": "@items('For_Each_Application')?['passwordCredentials']",
                      "actions": {
                        "Is_Secret_Expiring": {
                          "type": "If",
                          "runAfter": {},
                          "expression": {
                            "and": [
                              {
                                "lessOrEquals": [
                                  "@items('Check_Secrets')?['endDateTime']",
                                  "@outputs('Compute_Threshold_Date')"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Append_Secret_Alert": {
                              "type": "AppendToArrayVariable",
                              "runAfter": {},
                              "inputs": {
                                "name": "expiryAlerts",
                                "value": {
                                  "AppDisplayName": "@items('For_Each_Application')?['displayName']",
                                  "AppId": "@items('For_Each_Application')?['appId']",
                                  "ObjectId": "@items('For_Each_Application')?['id']",
                                  "CredentialType": "Secret",
                                  "CredentialId": "@items('Check_Secrets')?['keyId']",
                                  "CredentialDisplayName": "@items('Check_Secrets')?['displayName']",
                                  "ExpirationDate": "@items('Check_Secrets')?['endDateTime']",
                                  "DaysUntilExpiry": "@div(sub(ticks(items('Check_Secrets')?['endDateTime']), ticks(utcNow())), 864000000000)",
                                  "CheckTimestamp": "@utcNow()"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Check_Certificates": {
                      "type": "Foreach",
                      "runAfter": {},
                      "foreach": "@items('For_Each_Application')?['keyCredentials']",
                      "actions": {
                        "Is_Cert_Expiring": {
                          "type": "If",
                          "runAfter": {},
                          "expression": {
                            "and": [
                              {
                                "lessOrEquals": [
                                  "@items('Check_Certificates')?['endDateTime']",
                                  "@outputs('Compute_Threshold_Date')"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Append_Cert_Alert": {
                              "type": "AppendToArrayVariable",
                              "runAfter": {},
                              "inputs": {
                                "name": "expiryAlerts",
                                "value": {
                                  "AppDisplayName": "@items('For_Each_Application')?['displayName']",
                                  "AppId": "@items('For_Each_Application')?['appId']",
                                  "ObjectId": "@items('For_Each_Application')?['id']",
                                  "CredentialType": "Certificate",
                                  "CredentialId": "@items('Check_Certificates')?['keyId']",
                                  "CredentialDisplayName": "@items('Check_Certificates')?['displayName']",
                                  "ExpirationDate": "@items('Check_Certificates')?['endDateTime']",
                                  "DaysUntilExpiry": "@div(sub(ticks(items('Check_Certificates')?['endDateTime']), ticks(utcNow())), 864000000000)",
                                  "CheckTimestamp": "@utcNow()"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Set_NextLink": {
                  "type": "SetVariable",
                  "runAfter": {
                    "For_Each_Application": [ "Succeeded" ]
                  },
                  "inputs": {
                    "name": "nextLink",
                    "value": "@coalesce(body('Parse_Graph_Response')?['@odata.nextLink'], '')"
                  }
                }
              }
            },
            "Check_If_Alerts_Exist": {
              "type": "If",
              "runAfter": {
                "Page_Through_Applications": [ "Succeeded" ]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('expiryAlerts'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Send_To_Log_Analytics": {
                  "type": "Http",
                  "runAfter": {},
                  "inputs": {
                    "method": "POST",
                    "uri": "@parameters('logAnalyticsApiUrl')",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "@parameters('customLogTableName')",
                      "x-ms-date": "@utcNow('R')",
                      "time-generated-field": "CheckTimestamp",
                      "Authorization": "@concat('SharedKey ', parameters('logAnalyticsCustomerId'), ':', base64(body('Sign_Request')))"
                    },
                    "body": "@variables('expiryAlerts')"
                  }
                },
                "Build_String_To_Sign": {
                  "type": "Compose",
                  "runAfter": {},
                  "inputs": "@concat('POST\n', string(length(string(variables('expiryAlerts')))), '\napplication/json\nx-ms-date:', utcNow('R'), '\n/api/logs')"
                },
                "Sign_Request": {
                  "type": "Compose",
                  "runAfter": {
                    "Build_String_To_Sign": [ "Succeeded" ]
                  },
                  "inputs": "@base64(hmacSha256(outputs('Build_String_To_Sign'), base64ToBinary(parameters('logAnalyticsWorkspaceKey'))))"
                }
              },
              "else": {
                "actions": {
                  "No_Expiring_Credentials": {
                    "type": "Compose",
                    "runAfter": {},
                    "inputs": {
                      "status": "no_expiring_credentials",
                      "timestamp": "@utcNow()",
                      "thresholdDays": "@parameters('expiryThresholdDays')"
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}